These variables must be added to server folder in order to work 
//Make your own github and google clients for Oauth
//cloudinary is for product image uplaods
//jwt-secret can be customised 
//mailtrap credentials for trapping the mails(for development purposes, i was using mailtrap to trap the outgoing emails and check how do they look)

PORT=3000
MONGO_URI="mongodb://localhost:27017/EcommerceWeb"
JWT_SECRET="secret-here"
CLOUD_NAME ="name-here"
CLOUD_API_KEY="cloudinary-key"
CLOUD_API_SECRET="-cloudinary-secret"
GOOGLE_CLIENT_ID="client-id-for-Oauth"
GOOGLE_CLIENT_SECRET="client-secret-for-Oauth"
GITHUB_CLIENT_ID="client-id-for-Oauth"
GITHUB_CLIENT_SECRET="client-secret-for-Oauth"
MAILTRAP_USER="username-of-mailtrap-account"
MAILTRAP_PASS="mailtrap-provided-password"
