PORT=3000
MONGO_URI="mongodb://localhost:27017/Viewspot"
JWT_SECRET="ur custom secret here"
GOOGLE_CLIENT_ID="copy it from your google cloud console"
GOOGLE_CLIENT_SECRET="copy it too from google cloud console"
